{% block header_title %}
<h1><strong>{{ site_title | default('My webpage', true) }}</strong></h1>
{% endblock %}

<nav>
{% block header_nav %}
	<ul class="nav nav-inline">
		<li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Index</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
		{#
		<li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
		#}
	</ul>
{% endblock %}
</nav>