argh==0.26.2
future==0.16.0
httpwatcher==0.5.0
Jinja2==2.9.6
lipsum==0.1.2
livereload==2.4.1
Markdown==2.6.9
MarkupSafe==1.0
mlalchemy==0.2.1
pathtools==0.1.2
pystache==0.5.4
python-slugify==1.2.4
PyYAML==5.1
six==1.10.0
SQLAlchemy==1.1.14
statik==0.18.0
tornado==4.5.2
Unidecode==0.4.21
watchdog==0.8.3
