{% extends 'base.html' %}

{% block main %}
{% if personal_info %}
<section id="personal">
	<header>
		<h3>Personal</h3>
	</header>

	<dl title="Personal">
		<dt>Full name:</dt>
			<dd>Alejandro Núñez Pérez</dd>

		{% if personal_info.telephone_no %}
		<dt>Telephone #:</dt>
			<dd>{{ personal_info.telephone_no | default('n/a') }}</dd>
		{% endif %}

		{% if personal_info.contact_email %}
		<dt>E-mail address:</dt>
			<dd>{{ personal_info.contact_email | emailify }}</dd>
		{% endif %}
	</dl>
</section>
{% endif %}
{% endblock %}